header {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
}


div.container {
    position: absolute;
    left: 1px; 
    padding-right: 900px; /*this is how im making the row smaller*/
    padding-top: 20px;
  }

div p {
   text-decoration: underline;
   margin: 15px;
} 

/*css properties for the current weather section*/
  .current-weather-section {
    position: absolute;
    left: 550px;
    font-size: 30px;
  }

  /*css properties for the 5 day weather section*/
  .five-day-weather-section {
     padding-top: 500px;
     position: absolute;
     left: 550px;
    
  }